/* City Hero Section */
.hero-city {
    position: relative;
    width: 100%;
    height: 40vh;
    overflow: hidden;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
.hero-city img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-city-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.hero-city-overlay h1 {
  font-size: 4rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

/* About City Section */
.about-city {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 85vh;
  background-color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
}

.image-container {
  position: relative;
  flex: 1;
  max-width: 500px;
  margin-right: -8rem;
  margin-left: 4rem;
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: relative;
  z-index: 2;
  max-height: 400px;
}

.text-container {
  padding: 2rem;
  background-color: var(--color-secondary);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin-left: 4rem;
  padding: 0 8rem 12rem;
}

.text-container h4 {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--color-highlight);
  margin-bottom: 0.5rem;
}

.text-container h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.text-container hr {
  width: 50px;
  height: 3px;
  background-color: var(--color-highlight);
  border: none;
  margin-bottom: 1rem;
}
  
.text-container p {
  font-size: 1rem;
  line-height: 1.6;
}

/* City Aside */
.city-aside {
  position: absolute;
  top: 70%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 500px;
  margin-top: 2rem;
  padding: 2rem;
  background-color: var(--color-primary);
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  z-index: 5;
}

.city-aside h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.city-aside ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.city-aside li {
  display: flex;
  margin-bottom: 0.5rem;
  gap: 1rem;
}

.city-aside li i {
  color: var(--color-highlight);
}

.fact-text {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  font-size: 14px;
}
  
/* Grid Section */
.city-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    margin: 4rem 0;
    padding: 0;
    height: 60vh;
    width: 100%;
    overflow: hidden;
  }
  
.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  background-color: white;
  position: relative;
}

.grid-item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1.5px;
  height: 100%;
  background-color: #ccc;
}

.grid-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: #ccc;
}

.grid-item:nth-child(3n)::after {
  display: none;
}

.grid-item:nth-last-child(-n+3)::before {
  display: none;
}

.grid-item i {
  font-size: 2rem;
  color: var(--color-highlight);
  margin-bottom: 1rem;
}

.grid-item h3 {
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-standout);
}

.grid-item p {
  margin: 0 1rem 1rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-standout);
}


/* City Images */
.hero-city-sf-img {
  object-position: center 70%;
}

.hero-city-la-img {
  object-position: center 70%;
}